/*General*/
html, body {
    height: 100%;
    margin: 0;
}
.content{
    background-image:url('../imagens/bg.jpg');
    padding:20px;
    color:#fff;
    padding:20px;
    min-height: 100%;
}
h1.controleContato{
	color:#130d06;
}
/*Tabs*/
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #130d06;
  background:transparent;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #130d06;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
    color:#130d06;
  }
}
.nav-tabs > li a{
	color:#130d06;
	font-size:16px;
}
.nav-tabs > li a:hover{
	color:white;
	background-color: #130d06;
}
h2{
	color:#130d06;
	font-family: segan;
	text-align:left;
	font-size:25px;
	padding-left: 20px;
}
/*Table*/
th{
	background-color: #fefefe
}
table, td, tr, th, tbody, thead{
	color:#130d06;
}
tr:nth-child(even) {background-color: #fefefe}