
/*Swipe*/
.swipe-pointer{
    font-size: 20px;
    color:white;
    text-shadow: -2px 0 black, 2px 0 white;
    top:-5000px;
    display:inline-block;
    margin-left:-93px;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;  
}
textarea{
  resize: vertical
}
label{
  color:#ddd;
  font-family: segan;
  text-align:left;
  font-size:12px;
 }
 @media(min-width: 768px){
    label{
      padding-right: 120px;
    }
 }
 .controls > label{
  color: #000;
  font-size:16px;
 }
 ::-webkit-scrollbar {
    width: 0px; 
    background: transparent;  
}
#swipe{
  margin-left: 2000px;
  overflow-y: scroll;
  position: fixed;
  width:70%;
  display:"";
  height: 100%;
  margin-right:0;
  transition: margin-left 0.5s ease 0s;
  -webkit-transition: margin-left 0.5s ease 0s;
  -moz-transition: margin-left 0.5s ease 0s;
  -o-transition: margin-left 0.5s ease 0s;  
  background-color: #fdfdfd;
  padding: 20px;
  border: 1px solid #000;
  border-radius:5px;
  background-color: #211f1f;
  color: #fff;
}
.swipe-action, a.swipe-action:hover{
  text-decoration: none; 
  color:#000; 
  cursor: pointer;
  font-size: 15px;
}
.panel{
  margin-top: 20px;
}
.panel-swipe {
  border: 1px solid #000;
}
.panel-swipe > .panel-heading {
  color: white;
  background-color: #000;
}
.panel-swipe > .panel-body {
  color:#000;
}
.panel-swipe > .panel-footer {
  color: white;
  background-color: #000;
}

input[readonly]{
  background-color: grey;
}
.redondo {
   border-radius: 50%;
}

.fotoPerfil {
   margin-top:15%;
   width: 30%;
   height: 30%;
}
.side-nav{
  background-color: #000 !important;
  z-index: 10000 !important;
}
.test{
  padding-top: 1000px;
  background-color: #000 !important;
}
.feed {
  position: absolute;
  background-color: #000;
  margin-top:15%;
  width:  100%;
  height: 100%;
}
.row {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.carousel .carousel-item{
  width:100%;
  height:1000px !important;
}
.carousel{
  height: 1000px !important;
}
.active{
  color:red;
}
.inline li{
  display: inline;
  list-style-type: none;
}
.btn li{
  font-size: 2.3rem !important;
}
textarea.materialize-textarea{
  border-bottom: none !important;
  padding: none !important;
}