/*MENU*/
.navbar-inverse{
	background-color: #211f1f;
    border-bottom: 1px solid #000;
}
.active{
	color:#fff;
}
.nav.navbar-nav {
    width: 100%;
}
.nav.navbar-nav li {
    float: left;
    width: 20%;
    padding-left: 20px;
    font-size: 18px;
}
.content{
	width: 100%;
	padding-bottom: 1000px;
	background-color: #211f1f;
}
@media(min-height: 550px){
	img.imgLog{
		width: 60%;
		height: 250px;
	}
	.fbLogin{
	}
}
.loginImage{
	margin-left: 20%;
	margin-top: 20;
}
input{
	font-size:42px;
	padding: 30px;
	margin:25px;
	border:1px solid #ddd;
	width: 80%;
	margin-left: 10%;
}
input[type="submit"]{
	border:1px solid #000;
	background-color: #211f1f;
	color: white;
}
p{
	margin-left: 10%;
	font-size:41px;
	margin-bottom: 120px;
	margin-top: 70px;
}
h1 {
    overflow: hidden;
    text-align: center;
}
h1:before,
h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 37%;
}
h1:before {
    right: 0.5em;
    margin-left: -50%;
}
h1:after {
    left: 0.5em;
    margin-right: -50%;
}
.fbLogin{
	margin-left: 10%;
	padding: 10px;
	border:1px solid #4d74c6;
	background-color: #4d74c6;
	color:white;
	font-size: 35px;
	width: 80%;
	margin-top: 70px;
}
button>p{
	font-size: 41px;
	margin-left:-100px;	
	margin-top:15px;
	margin-bottom: 0;
}
.fbImg{
	float:left;
	margin-left: 15%;
}
hr{
	margin-top: 100px;
	width: 110%;
	margin-bottom: -35px;
}
.signup{
	margin-left: 20%;
}
.page{
	height: 100%;
	position: fixed;
}
.signupdiv{
	position: absolute;
	width: 100%;
	bottom: 0;
}
/*Swipe*/
.swipe-pointer{
    font-size: 20px;
    color:white;
    text-shadow: -2px 0 black, 2px 0 white;
    top:-5000px;
    display:inline-block;
    margin-left:-93px;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;  
}
textarea{
  resize: vertical
}
label{
  color:#ddd;
  font-family: segan;
  text-align:left;
  font-size:12px;
 }
 @media(min-width: 768px){
    label{
      padding-right: 120px;
    }
 }
 .controls > label{
  color: #000;
  font-size:16px;
 }
 ::-webkit-scrollbar {
    width: 0px; 
    background: transparent;  
}
#swipe{
  margin-left: 2000px;
  overflow-y: scroll;
  position: fixed;
  width:70%;
  display:"";
  height: 100%;
  margin-right:0;
  transition: margin-left 0.5s ease 0s;
  -webkit-transition: margin-left 0.5s ease 0s;
  -moz-transition: margin-left 0.5s ease 0s;
  -o-transition: margin-left 0.5s ease 0s;  
  background-color: #fdfdfd;
  padding: 20px;
  border: 1px solid #000;
  border-radius:5px;
  background-color: #211f1f;
  color: #fff;
}
.swipe-action, a.swipe-action:hover{
  text-decoration: none; 
  color:#000; 
  cursor: pointer;
  font-size: 15px;
}
.panel{
  margin-top: 20px;
}
.panel-swipe {
  border: 1px solid #000;
}
.panel-swipe > .panel-heading {
  color: white;
  background-color: #000;
}
.panel-swipe > .panel-body {
  color:#000;
}
.panel-swipe > .panel-footer {
  color: white;
  background-color: #000;
}

input[readonly]{
  background-color: grey;
}
.redondo {
   border-radius: 50%;
}

.fotoPerfil {
   margin-top:15%;
   width: 30%;
   height: 30%;
}
.side-nav{
  background-color: #000 !important;
  border:1px solid black;
  z-index: 10000 !important;
  position: relative;
}
.test{
  padding-top: 1000px;
  background-color: #000 !important;
}
.feed {
  position: absolute;
  background-color: #000;
  margin-top:15%;
  width:  100%;
  height: 100%;
}
.row {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.pergunta {
  font color: #000000;
  font-size: 16px;
  text-align: left;
}

.resposta {
  font color: #000000;
  font-size: 14px;
  text-align: right;
}
.carousel .carousel-item{
  width:100%;
}
