<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="css/ninjachat.css">
      <link rel="stylesheet" href="css/materialize.css">
      <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/1.0.5/jquery.mobile-events.js"></script>
      <link rel="shortcut icon" href="imagens/icons/ninjaIcon.png" >
      <script src="js/lib/angular.js"></script>
      <script src="js/app.js"></script>
      <script src="js/ninja/NinjaController.js"></script>
      <script src="js/ninja/NinjaService.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
      <script src="js/lib/materialize.js"></script>
      <title>Ninja Chat</title>
   </head>
   <body ng-app = "Ninja" ng-controller="NinjaController" >
      <ul id="slide-out" class="side-nav">
         <li>
            <div class="user-view">
               <div class="background">
                  <img ng-src="{{cover}}">
               </div>
               <a href="#!user"><img class="circle" ng-src="{{fotoPerfil}}" ng-click="OpenSideNavThroughLeftSwipe()"></a>
               <a href="#!name"><span class="white-text name"><strong>{{nome}}</strong></span></a>
            </div>
         </li>
         <li><a href="#!"><span class="white-text name"><strong>Link 1</strong></span></a>
         <li><a href="#!"><span class="white-text name"><strong>Link 2</strong></span></a>
      </ul>
      <div class="wrapper">
         <nav id="menus" class="nav-extended navbar-fixed-top black">
            <div class="nav-wrapper">
               <a href="#!user" data-activates="slide-out" class="button-collapse"><img class="circle" ng-src="{{fotoPerfil}}" style=" width: 40px; margin: 10px 0px 10px -10px"></a>
            </div>
            <div class="nav-content">
               <ul class="tabs tabs-transparent">
                  <li class="tab col s3"><a ng-click="slideOnClick($event)" href="#test-swipe-1" style="text-decoration: none"><i class="material-icons">home</i></a></li>
                  <li ng-click="slideOnClick($event)" class="tab col s3"><a href="#test-swipe-2" style="text-decoration: none"><i class="material-icons">search</i></a></li>
                  <li ng-click="slideOnClick($event)" class="tab col s3"><a href="#test-swipe-3" style="text-decoration: none"><i class="material-icons" >person</i></a></li>
                  <li ng-click="slideOnClick($event)" class="tab col s3"><a href="#test-swipe-4" style="text-decoration: none"><i class="material-icons" >message</i></a></li>
               </ul>
            </div>
         </nav>
         <div id="test-swipe-1" class=" col s12 blue" style="height:100vh; width: 100%">Test 1</div>
         <div id="test-swipe-2" class=" col s12 red" style="height:100vh; width: 100%">Test 2</div>
         <div id="test-swipe-3" class=" col s12 green" style="height:100vh; width: 100%">Test 3</div>
         <div id="test-swipe-4" class=" col s12 yellow" style="height:100vh; width: 100%">Test 4</div>
      </div>
</body>
</html>
   </body>
</html>





