<html>
    <head>
        <title>Ninja</title>
        <script src="https://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/ninjachat.css">
        <script src="js/jquery-1.12.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/NinjaController.js"></script>
    </head>
    <body>
      <div class="page">
        <div id="fb-root"></div>
        <div ng-app = "Ninjas" ng-controller="NinjaController">
            <div class="container">
              <div class = "row">
                <div class="col-md-12 loginImage visible-xs">
                <img class ="imgLog"src="imagens/Login.png" width="82%" height="380px">
                </div>
                <div class="col-md-12 loginContentM visible-xs">
                    <form id="formContato" class="form-horizontal" method="post">
                      <div class="control-group form-group">
                        <div class="controls">
                          <input class="inputLogin" type="text" name="usuario" maxlength="50" placeholder="Telefone, email ou nome de usuario" />
                        </div>
                      </div>
                      <div class="control-group form-group">
                        <div class="controls">
                          <input class="inputLogin"  type="password" name="senha" maxlength="50" placeholder="Senha"/>
                        </div>
                      </div>
                      <div class="form-actions form-group">
                        <input  type="submit" value="Entrar" class="btn ">
                        <button ng-click="testPublication()">Teste</button>
                      </div>
                  </form>                  
                </div>
                <div class="col-md-12 forgotLogin visible-xs">
                   <p>Esqueceu seu login ou senha?<strong> Nos te ajudamos</strong></p>
                </div>
                <div class="col-md-12 forgotLogin visible-xs">
                   <h1>OU</h1>
                </div>
                <div class="fb-login-button col-md-12 visible-xs">
                  <button class="fbLogin" ng-click="FBLogin()">
                    <span>
                      <img class="fbImg" src="https://www.facebook.com/rsrc.php/v3/yO/r/lF-L3veiXx9.png" width="70px">
                    </span>
                    <p>Logar com o Facebook</p>
                  </button>
                </div>
                <div class=" signupdiv col-md-12 visible-xs">
                <div class="col-md-12 visible-xs">
                  <hr>
                  <p class="signup">Nao tem uma conta? <strong>Cadastre-se.</strong></p>
                </div>
              </div>
            </div>
            
        </div>
      </div>
    </body>
</html>