<html>
    <head>
        <title>Ninja</title>
        <script src="https://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/NinjaController.js"></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <div ng-app = "Ninjas" ng-controller="NinjaController">
            <table>
              <thead>
                <tr>
                  <th>Assunto</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in itens">
                  <td>{{ item.ASSUNTO }}</td>
             
                </tr>
              </tbody>
            </table>
            <form class="form-inline" name="formItem">
              <input type="text" ng-model="item.assunto">
              <button ng-click="adicionaItem()">adicionar ítem</button>
              <button ng-click="removeItem()">reve ítem</button>
            </form>
            <h1>{{name}}</h1>
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" onlogin="console.log('oi')"></div>
          
        </div>
    </body>
</html>