<html>
    <head>
        <title>Ninja</title>
        <script src="https://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
        <script src="app.js"></script>
        <script src="NinjaController.js"></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <div ng-app = "Ninjas" ng-controller="NinjaController">
            <table>
              <thead>
                <tr>
                  <th>Assunto</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in itens">
                  <td>{{ item.ASSUNTO }}</td>
             
                </tr>
              </tbody>
            </table>
            <form class="form-inline" name="formItem">
              <input type="text" ng-model="item.assunto">
              <button ng-click="adicionaItem()">adicionar ítem</button>
              <button ng-click="removeItem()">reve ítem</button>
            </form>
            <h1>{{name}}</h1>
          <button ng-click="FBLogin()"> Facebook Login</button>
          <fb:login-button 
              scope="public_profile,email"
              onlogin="checkLoginState();">
            </fb:login-button>
        </div>
    </body>
</html>